/*| B0DY & CONTAINER(WRAPPER) |*/
* {
  box-sizing: border-box;
}

html,body {  
  width: 100%;
  margin: 0;
  padding: 0; 
  overflow-x: hidden; 
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("../assets/background/BG1.svg");
  background-repeat:no-repeat;
  background-size:cover;
  aspect-ratio: 960/300;
}

/*| GENERAL |*/
.bottom-icon {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  text-decoration:none;
}
.inline {
  display: inline;
  align-self: center;
  margin-top: 1em;  
}
.project-icon {
  color: rgb(149, 93, 8); 
  font-size: 1.4rem;
}
.custom-font {
  font-family: 'Kumbh Sans',sans-serif;
}

.project-link {
  text-align: center;
  font-size: 0.9rem;
  font-weight: normal;
  color: green;
  font-family: 'Kumbh Sans',sans-serif;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  margin-right: 10em;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  color: #a8e6ce;
  font-family: 'Kumbh Sans',sans-serif;
}

a {
  text-decoration: none;
  font-size: .8em;
  font-family: 'Kumbh Sans',sans-serif;
  color: white;
  margin: 15px;
}

h3 {
  font-family: 'Kumbh Sans',sans-serif;
  color: white;
}

h4 {
  font-family: 'Kumbh Sans',sans-serif;
  text-align: center;
  color: white;
}

h5 {
  font-family: 'Kumbh Sans',sans-serif;
  text-align: center;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: 'Kumbh Sans',sans-serif;
  color: white;
}

.text-underline {
  border-bottom: 4px solid red;
  align-self: center;
  padding-bottom: 3px; 
  width: fit-content;
}
.hr_solid2 {
  width: 25%;
  background-color: red;
  border: 0.5px solid red;
}
.text-underline-long {
  border-bottom: 4px solid red;
  padding-bottom: 3px;
  margin: 1em 10% 1em 10%;
}

.skill-img {
  width: 105px;
  height: 105px;
}

.project-img {
  width: 30vw;
  height: 21vw;
  border-radius: 10px;
  margin: 0.5em;
}

input[type="checkbox"] {
  margin-left: 10px;
  display: none;
  margin-top: 10px;
}

label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 17px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: white;
  border-radius: 3px;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  margin-right: 15px;
  font-size: 15px;
  margin-top: 10px;
}

.checkbox label {
  margin-bottom: 10px;
}

.checkbox label:before {
  border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: black;
  text-align: center;
  line-height: 15px;
}

/*| USE TO TEST ANY MISSHAPS |*/
.item {
  border: 5px solid red;
  border-radius: 5px;
}

.item-g {
  border: 5px solid greenyellow;
  border-radius: 5px;
}

.item-w {
  border: 5px solid white;
  border-radius: 5px;
}

/*| RE-USABLE CODE FOR FLEX DIVS |*/
.space-between {
  display: flex;
  justify-content: space-between;
}
.img-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
/*| HEADER |*/
header {
  
  padding: 1em;
}

.title {
  font-weight: normal;
  font-family: "Playfair Display", Times New Roman;
  color: white;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-icon {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

/*| MAIN |*/
.main-container {
  
} 
/*| TOP IMAGE DIV |*/
.top-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ff847c;
  padding: 10px 50px 10px 50px;
  margin: 40px 20% 0 20%;
}

.top-image-container h3 {
  color: black;
}

.portrait {
  border: 3px solid red;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.5);
  background-color: #2f4f4f;
}
/*| SKILLS DIV |*/
.practice-plat {
  display: flex;
  justify-content: space-around;
}
/*| CURRENT & COMPLETED PROJECTS|*/
.projects-container {
  background-color: #ffdead;
  border-radius: 15px;
  margin: 5em;
  padding: 10vw;
}

/*| FORM |*/
.email-form-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "msg"
  "contact"
  "foot";
  justify-items: center;
  justify-content: center;
  margin-top: 4em;
}

.mailme {
  grid-area: msg;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  color: white;
}
.mail-me {
  grid-area: contact;
  background: rgba(0, 0, 0, 0.4) url('../assets/background/BG7.svg');
  max-height: fit-content;
  max-width: 90vw;
  border: 2px solid white;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding: 20px;
  font-family: Monospace;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.input1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Monospace;
  font-weight: bold;
  padding: 1px;
  text-align: left;
  height: 1.5em;
  max-width: 50vw;
  margin: 10px;
}
.input2 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Monospace;
  font-weight: bold;
  padding: 1px;
  text-align: left;
  max-width: 60vw;
}

/*| FOOTER |*/
footer {
  border-top: 4px solid #c7a51a;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: black;
  margin-top: 10em;  
}
.icons {
  display: flex;
  justify-content: space-around;
  margin: 1em 30vw 1em 30vw;
}
.address-icons-map{
  padding: 1em;
  color: white;
}
.bottom-icons {
  font-size: 2em;
}

.foot {
  grid-area: foot;
  color: white;
  font-family: Monospace;
  padding: 10px;
}
.footer {
  background-color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.bold-onclick {
  color: #ffdead;
  filter: brightness(90%);
  font-weight: bold;
}
a:hover {
  color: brown;
  font-weight: bold;
}

.card:hover, .project-img:hover, .project-img:active  {
  animation: resize.5s forwards;
}

@keyframes resize {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1025px) {
  a {
      font-size: 1em;
  }
  .top-image-container {
      margin: 40px 20% 0 20%;
  }  
  .portrait {
      width: 230px;
      height: 230px;
  }
  .text-underline-long {
    margin-top: 6em;
  }
  .img-text {
    margin-top: 6em;
  }
}

@media screen and (max-width: 968px) {
  
  header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  nav {
    display: flex;
    position: absolute;
    justify-self: center;
    justify-content: center;
    font-size: 1.1rem;;
    margin: 0;
    padding: 50px;
    width: 99%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1666;
  }
  a {
    padding: 0.7em;
    z-index: 18000;
  }
  .top-image-container {
      padding: 10px 50px 10px 50px;
      margin: 40px 20% 0 20%;
  }
  .project-img {
      width: 60vw;
      height: 40vw;
  }
  .project-link {
      font-size: .7rem;
  }
  .img-text {
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      flex-direction: column;
  }
  .cards-container{
    margin: 1em;
    padding: 0 1vw 0 1vw;
  }
  .projects-container {
    margin: 1em;
    padding: 0;
  }
  .icons {
    margin: 0;
  }
  .bottom-icons {
    font-size: 1em;
  }
  .project-details {
      padding: 1em;
      margin: 1em;
  }
}

